.App {
  width: 100%;
  min-height: 100vh;
  transition: all 1s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  span {
    font-size: 1rem;
    color: #fff;
  }
}
