* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  user-select: none;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}